* {
	font-family: 'Orbitron', sans-serif;
}


html {
  background-color: #FFF;
}


#story {
	font-size: 35px;
	margin-left: 25px;
	margin-top: 40px;
	width: 600px;
}

* {
 padding: 25;
 margin: 25;
}

.menu {
 margin-right: 25px;
 margin-top: 0px;
 float: right;
}

.menu ul li {
 display: inline; 
 padding: 0 5px;
 width: 40px;
}

.menu ul li a, a:link, a:visited, a:active {
color: #424242;
text-decoration: none;
font-weight: bold;
}

.menu ul li a:hover {
color: #f49e42;
}

div.images {
	width: 40px;
	height: 40px;
	background-color: #FAFAFA;
	margin-right: 25px;
	margin-top: 300px;
	float: right;
}



a {
	text-decoration: none;
	color: #424242;
}


.verzend {
	font-size: 12px;
	color: #1e1c19;
	margin-top: 50px;
	border-color: #1e1c19;

}

.velden {
	background-color: #f49e42;
	width: 200px;
}

div.form {
	margin-top: 50px;
	margin-right: 350px;
	margin-bottom: 100px;
	margin-left: 25px;
	float: left;
	column-width: 250px;
}
	
div.message {
	margin-top: 150px;
	margin-right: 650px;
	margin-bottom: 100px;
	margin-left: 25px;
}
