* {
	font-family: 'Orbitron', sans-serif;
}


html {
  background-color: #ffffff;
}

#story {
	font-size: 35px;
	margin-left: 25px;
	margin-top: 40px;
	width: 600px;
}

 * {
 padding: 25;
 margin: 25;
}

.menu {
 margin-right: 25px;
 margin-top: 0px;
 float: right;
}

.menu ul li {
 display: inline; 
 padding: 0 5px;
 width: 40px;
}

.menu ul li a, a:link, a:visited, a:active {
color: #424242;
text-decoration: none;
font-weight: bold;
}

.menu ul li a:hover {
color: #f49e42;
}


.BigImage {
	margin: 50px 25px 30px 25px;
}

.column1 {
width:302px;
background:#f49e42;
margin:30px 1px 15px 25px;
padding:5px;
float:left;
}

.column2 {
width:302px;
background:#f49e42; 
margin:30px 1px 15px 25px;
padding:5px;
float:left;
}

.column3 {
width:302px;
background:#f49e42;
margin:30px 25px 15px 25px;
padding:5px;
float:left;
}


.images {
	width: 40px;
	height: 40px;
	background-color: #FAFAFA;
	float: right;
	margin: 10px 15px 30px;
}